<div class="about-products">
  <div class="container">
     <div class="about-products-wrap" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
    <div class="left" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
      <div class="text">
        <h3>Our Products</h3>
        <span> Products include wooden spoons, forks, chopsticks, plates, bowls, cups, trays, table mats and runners, soap dishes, storage containers, and furniture.</span>
        <p>Lion Kithul Wood assists poor children from single-parent families with tuition fees and school supplies. </p>
        <button class="btn-project" mat-raised-button color="primary" type="submit" [routerLink]="['/home/products/all']" routerLinkActive="router-link-active" >See more</button>
      </div>
    </div>
    <div class="right" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" >
      <div class="img-wrap">
        <img src="assets/images/wood/1 (22).jpg" alt="">
      </div>
    </div>
     </div>
  </div>
</div>
