################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BK/ASP.NET6_WebAPI-main/.vs/ASP.NET_WebAPI6/FileContentIndex
