


<div class="container">
  <div class="header">
      <div class="header-wrapper"  fxLayout="row" fxLayoutAlign="space-between center">
          <div class="logo">
            <img src="./../../../../assets/images/wood/logo.jpeg" width="15%" height="15%" alt="">

          </div>
          <div fxLayout="row">
              <app-menu></app-menu>
              <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
          </div>

        </div>
  </div>


</div>

