<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/home/products/all']">Show All</a></li>
        <li><a [routerLink]="['/home/products/Butter & Eggs']">Trays</a></li>
        <li><a [routerLink]="['/home/products/Fruits']">coconut cup</a></li>
        <li><a [routerLink]="['/home/products/Cheese']">Table mats</a></li>
        <li><a [routerLink]="['/home/products/Vegetables']">kitchen Items</a></li>
        <li><a [routerLink]="['/home/products/Milk']">spoons</a></li>

    </ul>
</div>
